/* Site */
.site {
    max-width: 85em;
    margin: 0 auto;
    padding: 0 1em 0 1em;
}

@media ( min-width: 1024px ) {
    .site-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }
}

/* Main image section */
.image-section {
    display: flex;
    align-items: center;
}

.image-section .info {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 20%;
    margin-left: 1em;
    border-top: 1px solid var(--color-link-default);
    border-bottom: 1px solid var(--color-link-default);
    padding: 0.5em;
}

.image-section .info a {
    font-size: var(--font-size-body);
    color: var(--color-body-background);
    background: var(--color-link-default);
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid var(--color-link-default);
    border-radius: 0.3em;
    font-weight: bold;
}

.image-section .info a:hover {
    background: var(--color-body-text);
    color: var(--color-body-background);
    border: 1px solid var(--color-body-text);
}

.image-section .img {
    flex: 0 0 80%;
}

.image-section img {
    width: 100%;
    height: auto;
}

/* Services section */
.services .services-title {
    padding: 0;
    font-size: 2.5em;
    text-align: center;
    color: var(--color-services-title);
}

.services .services-title:after {
    display: block;
    content: '';
    width: 2em;
    height: 3px;
    background: var(--color-services-title);
    margin: 0.2em auto 0.5em auto;
    border-radius: 0.3em;
}

.services .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.services .services-list li {
    flex: 0 0 30%;
    display: block;
    text-align: center;
    margin: 1em;
    padding: 0 1em;
}

.services .services-list span {
    display: block;
}

.image-span {
    width: 10em;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.image-span:before {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5) inset;
    z-index: 10;
}

.image-span:after {
    display: block;
    content: '';
    padding-top: 100%;
}

.image-span img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.services-list h6 {
    color: var(--color-link-default);
    margin: 0.5em;
}

.services-list .service-description {
    font-size: 14px;
}

/* Footer image section */
.footer-image {
    display: block;
}

.footer-image-container {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.footer-image-container:before {
    display: block;
    content: '';
    padding-top: 177,77%;
}

.footer-image-container img {
    display: block;
    width: 100%;
    height: auto;
}