<section class="footer-section location-{{ include.location }}">
    
    <ul class="quick-links">
        {% for item in site.pages %}
            {% if item.title %}
                <li{% if item.url == page.url %} class="selected"{% endif %}>
                    <a href="{{ site.baseurl }}{{ item.url }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <ul class="footer-contacts">
        <li>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>

        <li>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>

        <li>
            <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
        </li>

        <li>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/contacts/"><i class="fas fa-envelope"></i></a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/contacts/"><i class="fas fa-phone"></i></a>
        </li>
    </ul>

    <h6>&copy; 2019 - {{site.title}} - All Rights Reserved</h6>

</section>