<section class="footer-section location-{{ include.location }}">

    <ul>
        <li>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>

        <li>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>

        <li>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/contacts/"><i class="fas fa-envelope"></i></a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/contacts/"><i class="fas fa-phone"></i></a>
        </li>
    </ul>

    <p>&copy; 2019 - {{site.title}} - All Rights Reserved</p>

</section>