<nav class="top-nav location-{{ include.location }}">

    <ul>
        <li>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>

        <li>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>

        <li>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/contacts/"><i class="fas fa-envelope"></i></a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/contacts/"><i class="fas fa-phone"></i></a>
        </li>

        <li>
            <a href="#"><i class="far fa-clock"></i> Mon - Sun: 8:30am - 5:00pm</a>
        </li>

        <li>
            <a href="#"><i class="fas fa-map-marker-alt"></i> Sofia, Mladost 5, Pet Street</a>
        </li>
    </ul>

</nav>