/* Footer section */
.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 0;
}

.footer-section h6 {
    font-weight: normal;
}

.footer-section ul {
    padding: 0;
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
}

.footer-section li {
    margin-left: 1em;
}

.footer-section li .fa-facebook-square {
    color: var(--color-background-facebook);
}

.footer-section li .fa-twitter {
    color: var(--color-body-skyblue);
}

.footer-section p {
    font-size: var(--font-size-body-big);
    flex: 0 0 100%;
    text-align: center;
    padding: 0;
}

.footer-section p:before {
    display: block;
    content: '';
    width: 30em;
    height: 2px;
    background: var(--color-services-title);
    margin: 0.2em auto 0.5em auto;
    border-radius: 0.3em;
}

.footer-section i {
    font-size: 1.3em;
}