@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Libre+Baskerville:400,700&display=swap");
:root {
  --font-size-small: 12px;
  --font-size-body: 14px;
  --font-size-body-big: 16px;
  --font-size-body-bigger: 18px;
  --font-size-body-biggest: 20px;
  --font-family-libre: 'Libre Baskerville', serif;
  --font-family-bitter: 'Bitter', serif;
  --color-body-text: #000;
  --color-body-background: #FFF;
  --color-body-gray: #EEE;
  --color-services-title: #555;
  --color-link-default: #A00;
  --color-emergency-section: #FF1E1E;
  --color-body-skyblue: #6BD3E0;
  --color-background-facebook: #4267B2;
  --layout-main-width: 85em; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: var(--font-size-body);
  line-height: 1.5;
  font-family: var(--font-family-bitter); }

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-big, 16px); } }

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-bigger, 18px); } }

@media (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-biggest, 20px); } }

body, table, form, select, option, input, textarea {
  font: inherit;
  background: var(--color-body-background, #FFF);
  color: var(--color-body-text, #000); }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: var(--color-link-default, #A00); }

li {
  list-style: none outside; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

body:not(.page-home) .info-section {
  display: none; }

body:not(.page-home) .site-header {
  padding: 0 1em 1em 1em; }

body:not(.page-home) .site-description {
  display: block;
  font-size: 2em;
  padding: 1em;
  text-align: center; }

/* About page */
section.about {
  background: var(--color-body-gray);
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0 1em 0;
  justify-content: center;
  align-content: center; }

section.about .about-title {
  flex: 0 0 100%;
  text-align: center;
  color: var(--color-link-default);
  margin-top: 1em; }

section.about .about-title:after {
  display: block;
  content: '';
  width: 15em;
  height: 3px;
  margin: 0.5em auto 3em auto;
  background: var(--color-services-title);
  border-radius: 0.3em; }

section.about .about-page-description {
  flex: 0 0 90%;
  text-align: center;
  padding: 0 4em 2em 4em; }

section.about .about-image {
  display: flex;
  flex: 0 0 100%; }

section.about .about-image ul {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0; }

section.about .about-image li {
  flex: 0 0 30%;
  -webkit-animation: slideIn 0.3s ease-in;
          animation: slideIn 0.3s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

section.about .about-image li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

section.about .about-image li:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

section.about .about-image li:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

section.about .about-image img {
  display: block;
  width: 100%;
  height: auto; }

section.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

section.about .about-content span {
  display: block; }

section.about .about-content i {
  color: var(--color-link-default);
  padding-top: 0.5em; }

section.about .about-content p {
  flex: 0 0 100%;
  padding: 0 5em 1em 5em;
  text-align: center; }

/* Testimonials*/
section.about .testimonials {
  display: flex;
  flex-wrap: wrap; }

section.about .testimonials-title {
  flex: 0 0 100%;
  text-align: center;
  color: var(--color-link-default);
  margin-top: 1em; }

section.about .testimonials-title:after {
  display: block;
  content: '';
  width: 15em;
  height: 3px;
  margin: 0.5em auto 0 auto;
  background: var(--color-services-title);
  border-radius: 0.3em; }

section.about .testimonials-content {
  margin: 0;
  padding: 1em 0 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

section.about .testimonials-content li {
  text-align: center;
  flex: 0 0 47%;
  padding: 1em 0.5em 0.5em 0.5em; }

section.about .testimonials-content li span {
  display: block; }

section.about .testimonials-content .client-name {
  margin-top: 0.5em;
  color: var(--color-link-default); }

/* Contacts page */
section.contacts {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; }

section.contacts header {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

section.contacts header h2 {
  flex: 0 0 100%;
  margin-top: 0.5em;
  color: var(--color-link-default); }

section.contacts header h2:after {
  display: block;
  content: '';
  width: 10em;
  height: 3px;
  margin: 0.5em auto 1em auto;
  background: var(--color-services-title);
  border-radius: 0.3em; }

section.contacts header iframe {
  flex: 0 0 75%; }

section.contacts header p:nth-child(2) {
  padding: 0 3em 2em 3em; }

section.contacts header p:nth-child(4) {
  margin-top: 2em; }

section.contacts header p {
  flex: 0 0 75%;
  margin-top: 0.5em;
  font-size: var(--font-size-body-biggest); }

section.contacts header p i {
  color: var(--color-link-default);
  padding-right: 0.3em; }

section.contacts form {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em; }

section.contacts .form-control {
  flex: 0 0 80%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-link-default);
  color: var(--color-body-text);
  font-size: var(--font-size-body-bigger);
  margin-bottom: 0.8em; }

section.contacts form .submit {
  color: var(--color-body-background);
  background: var(--color-link-default);
  padding: 0.1em 0;
  border-radius: 0.3em;
  cursor: pointer; }

section.contacts form .submit:hover {
  color: var(--color-body-background);
  background: var(--color-emergency-section);
  border-bottom: 1px solid var(--color-emergency-section); }

/* Gallery page */
section.gallery-section {
  background: var(--color-body-gray);
  margin: 1em 0 1em 0; }

section.gallery-section .gallery-title {
  text-align: center;
  color: var(--color-link-default);
  padding-top: 1em; }

section.gallery-section .gallery-title:after {
  display: block;
  content: '';
  width: 15em;
  height: 3px;
  margin: 0.5em auto 3em auto;
  background: var(--color-services-title);
  border-radius: 0.3em; }

section.gallery-section .gallery {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

section.gallery-section .gallery li {
  flex: 0 0 30%;
  display: flex;
  overflow: hidden;
  margin-bottom: 2em;
  border-top: 1px solid var(--color-services-title);
  border-bottom: 1px solid var(--color-services-title);
  position: relative;
  -webkit-animation: slideIn 0.3s ease-in;
          animation: slideIn 0.3s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

section.gallery-section .gallery li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

section.gallery-section .gallery li:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

section.gallery-section .gallery li:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

section.gallery-section .gallery li:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }

section.gallery-section .gallery li:nth-child(6) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s; }

section.gallery-section .gallery li:nth-child(7) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

section.gallery-section .gallery li:nth-child(8) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s; }

section.gallery-section .gallery li:nth-child(9) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s; }

section.gallery-section .gallery li:nth-child(10) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s; }

section.gallery-section .gallery li:nth-child(11) {
  -webkit-animation-delay: 2.0s;
          animation-delay: 2.0s; }

section.gallery-section .gallery li:nth-child(12) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s; }

section.gallery-section .gallery li:nth-child(13) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s; }

section.gallery-section .gallery li:nth-child(14) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s; }

section.gallery-section .gallery li:nth-child(15) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s; }

section.gallery-section .gallery li:nth-child(16) {
  -webkit-animation-delay: 3.0s;
          animation-delay: 3.0s; }

section.gallery-section .gallery li:nth-child(17) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s; }

section.gallery-section .gallery li:nth-child(18) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-2em); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-2em); }
  to {
    opacity: 1;
    transform: translateX(0); } }

section.gallery-section .gallery li a {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: none; }

section.gallery-section .gallery span {
  display: block;
  position: relative; }

section.gallery-section .gallery span:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

section.gallery-section .gallery span:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.5); }

section.gallery-section .gallery a:hover span:before {
  opacity: 0; }

section.gallery-section .gallery img {
  display: block;
  width: 100%;
  height: auto; }

/* Team page */
section.team-section {
  background: var(--color-body-gray);
  margin: 1em 0 1em 0; }

section.team-section .team-title {
  text-align: center;
  color: var(--color-link-default);
  padding-top: 1em; }

section.team-section .team-title:after {
  display: block;
  content: '';
  width: 20em;
  height: 3px;
  margin: 0.5em auto 3em auto;
  background: var(--color-services-title);
  border-radius: 0.3em; }

section.team-section .team-description {
  text-align: center;
  padding: 0 5em 3em 5em; }

section.team-section .team {
  display: grid;
  padding: 0 0 1em 0;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  justify-items: center;
  align-items: start; }

section.team-section a,
section.team-section span,
section.team-section img {
  display: block;
  pointer-events: none; }

section.team-section .team li {
  display: block;
  grid-column: span 1;
  text-align: center;
  -webkit-animation: slideIn 0.3s ease-in;
          animation: slideIn 0.3s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

section.team-section li a span {
  width: 15em;
  margin: 0 auto;
  display: block;
  border-radius: 0.3em;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5); }

section.team-section li a span:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.3em;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5) inset;
  z-index: 10; }

section.team-section li a span:after {
  display: block;
  content: '';
  padding-top: 100%; }

section.team-section .team li:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

section.team-section .team li:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

section.team-section .team li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

section.team-section .team li:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }

section.team-section .team li:nth-child(5) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s; }

section.team-section .team li:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

section.team-section .team li:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s; }

section.team-section .team li:nth-child(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s; }

section.team-section .team li:nth-child(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s; }

section.team-section img {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5; }

section.team-section .doc-name {
  padding-top: 1em;
  color: var(--color-link-default); }

section.team-section .doc-description {
  padding-top: 0.5em; }

section.team-section .details i {
  padding-right: 0.2em;
  color: var(--color-link-default); }

/* Site */
.site {
  max-width: var(--layout-main-width);
  margin: 0 auto;
  padding: 0 1em 0 1em; }

/* Emergency section */
.emergency {
  background-image: linear-gradient(to bottom, #e11414, #bd1316, #9a1316, #781315, #571111);
  color: var(--color-body-background);
  margin: 4em 4em 1em 4em;
  padding: 2em;
  display: flex;
  position: relative;
  text-align: left;
  border-radius: 0.3em; }

.emergency:after {
  display: block;
  content: url("../images/doc-1.png");
  position: absolute;
  top: 5;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  margin-right: 1em; }

.emergency h3 {
  font-weight: normal; }

.emergency span {
  font-size: 1.5em; }

.emergency .emergency-info {
  flex: 0 0 100%; }

/* Services section */
.services .services-title {
  padding: 0;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  color: var(--color-services-title); }

.services .services-title:after {
  display: block;
  content: '';
  width: 2em;
  height: 3px;
  background: var(--color-services-title);
  margin: 0.2em auto 0.5em auto;
  border-radius: 0.3em; }

.services .services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0; }

.services .services-list li {
  flex: 0 0 30%;
  display: block;
  text-align: center;
  margin: 1em;
  padding: 0 1em; }

.services .services-list span {
  display: block; }

.image-span {
  width: 13em;
  margin: 0 auto;
  display: block;
  border-radius: 0.3em;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5); }

.image-span:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.3em;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5) inset;
  z-index: 10; }

.image-span:after {
  display: block;
  content: '';
  padding-top: 100%; }

.image-span img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5; }

.services-list .services-list-title {
  color: var(--color-link-default);
  margin: 0.5em;
  font-weight: bold; }

.services-list .service-description {
  font-size: var(--font-size-body); }

/* Footer image section */
.footer-image-container {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto; }

.footer-image-container:before {
  display: block;
  content: '';
  padding-top: 177,77%; }

.footer-image-container img {
  display: block;
  width: 100%;
  height: auto; }

/* Error css */
.error {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.error h1 {
  flex: 0 0 100%; }

.error p {
  flex: 0 0 100%; }

@media (min-width: 1024px) {
  .site-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .site-header nav {
    margin-left: auto; } }

.site-header {
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0.418) 0%, rgba(238, 238, 238, 0.795)), url("../images/hospital.jpg") center no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 1em 3em 1em;
  justify-content: center;
  flex-wrap: wrap; }

/* site logo */
.site-header .site-logo {
  flex: 0 0 8%;
  display: block;
  overflow: hidden;
  position: relative; }

.site-header .site-logo:after {
  display: block;
  content: '';
  padding-top: 100%; }

.site-header .site-logo img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.site-header .site-title {
  margin-top: 0.2em;
  font-family: var(--font-family-libre); }

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 50%;
  text-align: center; }

.info-section .info {
  color: var(--color-body-text);
  font-weight: normal;
  padding: 1em 0 1em 0; }

.info-section a {
  font-size: var(--font-size-body);
  border: 2px solid transparent;
  background: #404040;
  color: var(--color-body-background);
  font-weight: 100;
  padding: 0.6em 1em;
  text-transform: uppercase;
  border-radius: 0.3em;
  display: inline-block;
  transition: all 0.3s ease 0s; }

.info-section a:hover {
  color: #404040;
  font-weight: bold;
  background: transparent;
  letter-spacing: 3px;
  border: 2px solid #404040;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s; }

.header-image-container {
  flex: 0 0 100%; }

/* Footer section */
.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0; }

.footer-section .quick-links {
  padding-bottom: 0.5em;
  justify-content: center; }

.footer-section .quick-links li {
  padding: 0 0.5em 0 0.5em; }

.footer-section .quick-links li:not(:first-child) {
  border-left: 1px solid #404040;
  margin-left: 0; }

.footer-section .quick-links li:nth-child(4) {
  order: 1; }

.footer-section .quick-links li a {
  color: #404040;
  font-weight: bold; }

.footer-section .quick-links li a:hover {
  color: var(--color-link-default); }

.footer-section h6 {
  font-weight: normal; }

.footer-section .footer-contacts {
  padding: 0.5em 0 0.5em 0; }

.footer-section ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex: 0 0 100%; }

.footer-section li {
  margin-left: 1em; }

.footer-section li .fa-facebook-square {
  color: var(--color-background-facebook); }

.footer-section li .fa-twitter {
  color: var(--color-body-skyblue); }

.footer-section h6 {
  flex: 0 0 100%;
  text-align: center;
  padding: 0; }

.footer-section h6:before {
  display: block;
  content: '';
  width: 30em;
  height: 2px;
  background: var(--color-services-title);
  margin: 0.2em auto 0.5em auto;
  border-radius: 0.3em; }

.footer-section i {
  font-size: 1.5em; }

.footer-section i:hover {
  transition: 0.5s;
  transform: rotate(360deg); }

/* Site navigation */
.site-nav ul {
  display: flex;
  padding: 0;
  margin-bottom: 0.5em; }

.site-nav li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em;
  order: 2; }

.site-nav li:nth-child(4) {
  order: 1; }

.site-nav a {
  display: block;
  color: var(--color-link-default);
  padding: 0.3em 0.5em;
  box-shadow: 0 5px 15px -5px #00000070;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s; }

.site-nav li.selected > a,
.site-nav a:hover {
  color: var(--color-link-default);
  border-radius: 50px;
  border-color: var(--color-link-default);
  transition: all 0.3s ease 0s; }

.site-nav a i {
  margin-right: 0.3em; }

.site-description {
  display: none;
  flex: 0 0 100%;
  font-weight: normal; }

.nav-toggle {
  opacity: 0;
  pointer-events: none;
  position: absolute; }

.nav-toggle-button {
  display: none;
  margin: 0 auto; }

.nav-toggle-button span i {
  font-size: var(--font-size-body-biggest); }

.nav-toggle:checked + .site-header .site-nav {
  display: block; }

@media (max-width: 1024px) {
  /* header and navigation */
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .site-header .site-title {
    font-size: 2.4em; }
  .site-nav ul {
    margin-top: 1em; }
  /* home page */
  /* info section */
  .info-section {
    flex: 0 0 100%; }
  .info-section .info {
    font-size: 1.5em;
    padding: 2em 1em 1em 1em; }
  /* services section */
  .services .services-list {
    justify-content: space-around; } }

@media (max-width: 960px) {
  /* header and navigation */
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  /* home page */
  /* info section */
  .info-section {
    flex: 0 0 100%; }
  .info-section .info {
    font-size: 1.5em;
    padding: 2em 1em 1em 1em; }
  /* services section */
  .services .services-list {
    justify-content: space-around; } }

@media (max-width: 910px) {
  /* header */
  .site-header {
    justify-content: center; } }

@media (max-width: 840px) {
  /* header */
  .site-header {
    justify-content: center; }
  .site-header .site-title {
    font-size: 1.7em; }
  .site-nav ul {
    margin-top: 0.5em; }
  .emergency h3,
  .emergency span {
    font-size: 1.2em; } }

@media (max-width: 768px) {
  /* header and navigation */
  .site-header .site-logo {
    display: block; }
  .site-nav {
    display: none; }
  .nav-toggle-button {
    display: block;
    margin-top: 1em; }
  .nav-toggle-button .close {
    display: none; }
  .nav-toggle:checked + .site-header .nav-toggle-button .open {
    display: none; }
  .nav-toggle:checked + .site-header .nav-toggle-button .close {
    display: block; }
  .site-header {
    display: flex;
    padding-bottom: 1.5em; }
  .site-title {
    flex: 0 0 83%;
    text-align: center; }
  .site-nav {
    flex: 0 0 100%; }
  .site-nav ul {
    flex-direction: column;
    align-items: center; }
  .site-nav li {
    width: 200px;
    margin-top: 0.5em; }
  .site-nav i {
    padding-left: 2.5em; }
  .site-description {
    text-align: center;
    font-size: 1.5em !important;
    padding: 0.5em !important; }
  /* home page */
  /* info section */
  .info-section .info {
    font-size: 1em;
    padding-top: 1em; }
  .info-section a {
    margin-top: 1em; }
  /* emergency section */
  .emergency {
    margin: 2em 2em 1em 2em; }
  .emergency h3,
  .emergency span {
    font-size: 1.2em; }
  /* services section */
  .services .services-list {
    justify-content: center; }
  /* footer */
  .footer-section {
    display: flex; }
  .footer-section ul {
    flex: 0 0 50%;
    justify-content: center; }
  .footer-section h6 {
    flex: 0 0 50%;
    font-size: var(--font-size-body-big);
    text-align: center; }
  /* gallery page */
  section.gallery-section .gallery li {
    flex: 0 0 45%; }
  /* team page */
  section.team-section .team {
    grid-template-columns: repeat(2, 1fr); }
  section.team-section .team li:nth-child(9) {
    grid-column: span 2; } }

@media (max-width: 640px) {
  /* header and navigation */
  .site-header {
    display: flex;
    padding-bottom: 1.5em; }
  body:not(.page-home) .site-description {
    padding: 0; }
  .site-nav {
    flex: 0 0 100%; }
  .site-nav ul {
    flex-direction: column;
    align-items: center; }
  .site-nav li {
    width: 200px;
    margin-top: 0.5em; }
  .site-nav i {
    padding-left: 2.5em; }
  .site-description {
    text-align: center; }
  /* home page */
  /* info section */
  .info-section .info {
    font-size: 1em;
    padding-top: 1em; }
  .info-section a {
    margin-top: 1em;
    padding: 0.5em;
    font-size: var(--font-size-small); }
  /* emergency section */
  .emergency {
    margin: 3em 2em 1em 2em; }
  .emergency:after {
    display: none; }
  .emergency .emergency-info {
    text-align: center; }
  /* services section */
  .services .services-list {
    justify-content: center; }
  /* footer */
  .footer-section {
    display: flex; }
  .footer-section ul {
    flex: 0 0 50%;
    justify-content: center; }
  .footer-section h6 {
    flex: 0 0 50%;
    font-size: var(--font-size-body);
    text-align: center; }
  /* about page */
  section.about .about-image ul {
    flex-wrap: wrap;
    justify-content: center; }
  section.about .about-image li {
    flex: 0 0 60%;
    margin-bottom: 0.5em; }
  /* contacts page */
  section.contacts header p:nth-child(2) {
    padding: 0 0 2em 0; }
  /* gallery page */
  section.gallery-section .gallery li {
    flex: 0 0 45%; }
  /* team page */
  section.team-section .team {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 480px) {
  /* header and navigation */
  .site-header {
    display: flex;
    padding-bottom: 1.5em; }
  body:not(.page-home) .site-description {
    padding: 0; }
  .site-nav {
    flex: 0 0 100%; }
  .site-nav ul {
    flex-direction: column;
    align-items: center; }
  .site-nav li {
    width: 120px;
    margin-top: 0.5em; }
  .site-nav i {
    padding-left: 0.5em; }
  .site-description {
    text-align: center; }
  /* home page */
  /* info section */
  .info-section .info {
    font-size: 1em;
    padding-top: 1em; }
  .info-section a {
    margin-top: 1em;
    padding: 0.5em;
    font-size: var(--font-size-small); }
  /* emergency section */
  .emergency {
    margin: 2em 2em 1em 2em; }
  .emergency:after {
    display: none; }
  /* services section */
  .services .services-list {
    justify-content: center; }
  /* footer */
  .footer-section {
    display: flex; }
  .footer-section ul {
    flex: 0 0 100%;
    justify-content: center; }
  .footer-section h6 {
    flex: 0 0 100%;
    font-size: var(--font-size-small);
    text-align: center; }
  .footer-section h6:before {
    width: 23em; }
  /* about page */
  section.about .about-page-description {
    padding: 0 1em 2em 1em; }
  section.about .about-image ul {
    flex-wrap: wrap;
    justify-content: center; }
  section.about .about-image li {
    flex: 0 0 90%;
    margin-bottom: 0.5em; }
  section.about .testimonials-title {
    font-size: 1.7em; }
  section.about .testimonials-title:after {
    width: 7em; }
  section.about .testimonials-content li {
    flex: 0 0 90%; }
  /* contacts page */
  section.contacts header p {
    font-size: var(--font-size-body); }
  section.contacts header iframe {
    height: 300px; }
  /* gallery page */
  section.gallery-section .gallery li {
    flex: 0 0 90%; }
  /* team page */
  section.team-section .team {
    grid-template-columns: repeat(1, 1fr); }
  section.team-section .team li:nth-child(9) {
    grid-column: span 1; } }

@media (max-width: 320px) {
  /* header and navigation */
  .site-header {
    display: flex;
    padding-bottom: 1.5em; }
  .site-header .site-logo {
    flex: 0 0 15%; }
  body:not(.page-home) .site-description {
    padding: 0;
    font-size: 1.2em !important; }
  .site-title {
    flex: 0 0 70%;
    text-align: center; }
  .nav-toggle-button {
    margin-top: 0.5em; }
  .site-nav {
    flex: 0 0 100%; }
  .site-nav ul {
    flex-direction: column;
    align-items: center; }
  .site-nav li {
    width: 120px;
    margin-top: 0.5em; }
  .site-nav i {
    padding-left: 0.5em; }
  .site-description {
    text-align: center; }
  /* home page */
  /* info section */
  .info-section .info {
    font-size: 1em;
    padding-top: 1em; }
  .info-section a {
    margin-top: 1em;
    padding: 0.5em;
    font-size: var(--font-size-small); }
  /* emergency section */
  .emergency {
    margin: 2em 2em 1em 2em; }
  .emergency:after {
    display: none; }
  .emergency .emergency-info {
    font-size: 1em; }
  /* services section */
  .services .services-title {
    font-size: 2em; }
  .services .services-list {
    justify-content: center; }
  /* footer */
  .footer-section {
    display: flex; }
  .footer-section ul {
    flex: 0 0 100%;
    justify-content: center; }
  .footer-section ul li:nth-child(1) {
    margin-left: 0; }
  .footer-section h6 {
    flex: 0 0 100%;
    font-size: var(--font-size-small);
    text-align: center; }
  .footer-section h6:before {
    width: 20em; }
  /* about page */
  section.about .about-image ul {
    flex-wrap: wrap;
    justify-content: center; }
  section.about .about-image li {
    flex: 0 0 90%;
    margin-bottom: 0.5em; }
  section.about .about-content p {
    padding: 0 2em 1em 2em; }
  /* gallery page */
  section.gallery-section .gallery li {
    flex: 0 0 90%; } }
