:root {
    --font-size-body: 14px;
    --font-size-body-big: 16px;
    --font-size-body-bigger: 18px;
    --font-size-body-biggest: 20px;

    --font-family-libre: 'Libre Baskerville', serif;
    --font-family-bitter: 'Bitter', serif;

    --color-body-text: #000;
    --color-body-background: #FFF;
    --color-body-gray: #EEE;
    --color-services-title: #555;
    --color-link-default: #A00;
    --color-emergency-section: #FF1E1E;
    --color-body-skyblue: #6BD3E0;
    --color-background-facebook: #4267B2;

    --layout-main-width: 90em;
}