<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <title>{{site.title}}</title>
</head>

<body class="
    {% if page.title %}page page-{{ page.title | slugify }}{% endif %}
    {% if post.title %}post{% endif %}
    {% if page.home %}home{% endif %}">

    <div class="site">

        <input type="checkbox" id="nav-toggle" class="nav-toggle">

        <header class="site-header">

            <div class="site-logo">
                <img src="{{ site.baseurl }}/images/output-onlinepngtools.png" alt="logo">
            </div>

            {% if page.home == true %}
                <h1 class="site-title"><a href="{{ site.baseurl }}/">{{site.title}}</a></h1>
            {% else %}
                <p class="site-title"><a href="{{ site.baseurl }}/">{{site.title}}</a></p>
            {% endif %}

            <label for="nav-toggle" class="nav-toggle-button">
                <span class="open"><i class="fas fa-bars"></i></span>
                <span class="close"><i class="fas fa-times"></i></span>
            </label>

            {% include navigation.html location="header" %}

            <h5 class="site-description">The kindness and care that your pet deserves</h5>

            {% include header.html location="header" %}
            
        </header>

        <main class="site-main">

            {{content}}

        </main>

        <footer class="site-footer">

            {% include footer.html location="footer" %}
            
        </footer>

    </div>

</body>

</html>