<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SoftClinic</title>
</head>

<body>

    <div class="site">

        <header class="site-header">
            <h1 class="site-title"><a href="/">SoftClinic</a></h1>
            
        </header>


        <main class="site-main">

            {{content}}

        </main>


        <footer class="site-footer">
            <p>Copyright 2019 &copy; {{site.title}}</p>
        </footer>

    </div>


</body>

</html>