body:not(.page-home) .info-section {
    display: none;
}

body:not(.page-home) .site-header {
    padding: 0 1em 1em 1em;
}

body:not(.page-home) .site-description {
    display: block;
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

/* About page */
section.about {
    background: var(--color-body-gray);
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0 1em 0;
    justify-content: center;
    align-content: center;
}

section.about .about-title {
    flex: 0 0 100%;
    text-align: center;
    color: var(--color-link-default);
    margin-top: 1em;
}

section.about .about-title:after {
    display: block;
    content: '';
    width: 15em;
    height: 3px;
    margin: 0.5em auto 3em auto;
    background: var(--color-services-title);
    border-radius: 0.3em;
}

section.about .about-page-description {
    flex: 0 0 90%;
    text-align: center;
    padding: 0 4em 2em 4em;
}

section.about .about-image {
    display: flex;
    flex: 0 0 100%;
}

section.about .about-image ul {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

section.about .about-image li {
    flex: 0 0 30%;
    animation: slideIn 0.3s ease-in;
    animation-fill-mode: both;
}

section.about .about-image li:nth-child(2) { animation-delay: 0.2s }
section.about .about-image li:nth-child(3) { animation-delay: 0.4s }
section.about .about-image li:nth-child(4) { animation-delay: 0.6s }

section.about .about-image img {
    display: block;
    width: 100%;
    height: auto;
}

section.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.about .about-content span {
    display: block;
}

section.about .about-content i {
    color: var(--color-link-default);
    padding-top: 0.5em;
}

section.about .about-content p {
    flex: 0 0 100%;
    padding: 0 5em 1em 5em;
    text-align: center;
}

/* Testimonials*/ 
section.about .testimonials {
    display: flex;
    flex-wrap: wrap;
}

section.about .testimonials-title {
    flex: 0 0 100%;
    text-align: center;
    color: var(--color-link-default);
    margin-top: 1em;
}

section.about .testimonials-title:after {
    display: block;
    content: '';
    width: 15em;
    height: 3px;
    margin: 0.5em auto 0 auto;
    background: var(--color-services-title);
    border-radius: 0.3em;
}

section.about .testimonials-content {
    margin: 0;
    padding: 1em 0 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.about .testimonials-content li {
    text-align: center;
    flex: 0 0 47%;
    padding: 1em 0.5em 0.5em 0.5em;
}

section.about .testimonials-content li span {
    display: block;
}

section.about .testimonials-content .client-name {
    margin-top: 0.5em;
    color: var(--color-link-default);
}

/* Contacts page */
section.contacts {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

section.contacts header {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.contacts header h2 {
    flex: 0 0 100%;
    margin-top: 0.5em;
    color: var(--color-link-default);
}

section.contacts header h2:after {
    display: block;
    content: '';
    width: 10em;
    height: 3px;
    margin: 0.5em auto 1em auto;
    background: var(--color-services-title);
    border-radius: 0.3em;
}

section.contacts header iframe {
    flex: 0 0 75%;
}

section.contacts header p:nth-child(2) {
    padding: 0 3em 2em 3em;
}

section.contacts header p:nth-child(4) {
    margin-top: 2em;
}

section.contacts header p {
    flex: 0 0 75%;
    margin-top: 0.5em;
}

section.contacts header p i {
    color: var(--color-link-default);
    padding-right: 0.3em;
}

section.contacts form {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

section.contacts .form-control {
    flex: 0 0 80%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-link-default);
    color: var(--color-body-text);
    font-size: var(--font-size-body-bigger);
    margin-bottom: 0.8em;
}

section.contacts form .submit {
    color: var(--color-body-background);
    background: var(--color-link-default); 
    padding: 0.1em 0;
    border-radius: 0.3em;
    cursor: pointer;
}

section.contacts form .submit:hover {
    color: var(--color-body-background);
    background: var(--color-emergency-section);
    border-bottom: 1px solid var(--color-emergency-section);
}

/* Gallery page */
section.gallery-section {
    background: var(--color-body-gray);
    margin: 1em 0 1em 0;
}

section.gallery-section .gallery-title {
    text-align: center;
    color: var(--color-link-default);
    padding-top: 1em;
}

section.gallery-section .gallery-title:after {
    display: block;
    content: '';
    width: 15em;
    height: 3px;
    margin: 0.5em auto 3em auto;
    background: var(--color-services-title);
    border-radius: 0.3em;
}

section.gallery-section .gallery {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.gallery-section .gallery li {
    flex: 0 0 30%;
    display: flex;
    overflow: hidden;
    margin-bottom: 2em;
    border-top: 1px solid var(--color-services-title);
    border-bottom: 1px solid var(--color-services-title);
    position: relative;
    animation: slideIn 0.3s ease-in;
    animation-fill-mode: both;
}

section.gallery-section .gallery li:nth-child(2) { animation-delay: 0.2s }
section.gallery-section .gallery li:nth-child(3) { animation-delay: 0.4s }
section.gallery-section .gallery li:nth-child(4) { animation-delay: 0.6s }
section.gallery-section .gallery li:nth-child(5) { animation-delay: 0.8s }
section.gallery-section .gallery li:nth-child(6) { animation-delay: 1.0s }
section.gallery-section .gallery li:nth-child(7) { animation-delay: 1.2s }
section.gallery-section .gallery li:nth-child(8) { animation-delay: 1.4s }
section.gallery-section .gallery li:nth-child(9) { animation-delay: 1.6s }
section.gallery-section .gallery li:nth-child(10) { animation-delay: 1.8s }
section.gallery-section .gallery li:nth-child(11) { animation-delay: 2.0s }
section.gallery-section .gallery li:nth-child(12) { animation-delay: 2.2s }
section.gallery-section .gallery li:nth-child(13) { animation-delay: 2.4s }
section.gallery-section .gallery li:nth-child(14) { animation-delay: 2.6s }
section.gallery-section .gallery li:nth-child(15) { animation-delay: 2.8s }
section.gallery-section .gallery li:nth-child(16) { animation-delay: 3.0s }
section.gallery-section .gallery li:nth-child(17) { animation-delay: 3.2s }
section.gallery-section .gallery li:nth-child(18) { animation-delay: 3.4s }

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

section.gallery-section .gallery li a {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

section.gallery-section .gallery span {
    display: block;
    position: relative;
}

section.gallery-section .gallery span:before {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

section.gallery-section .gallery span:after {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.5);
}

section.gallery-section .gallery a:hover span:before {
    opacity: 0;
}

section.gallery-section .gallery img {
    display: block;
    width: 100%;
    height: auto;
}

/* Team page */
section.team-section {
    background: var(--color-body-gray);
    margin: 1em 0 1em 0;
}

section.team-section .team-title {
    text-align: center;
    color: var(--color-link-default);
    padding-top: 1em;
}

section.team-section .team-title:after {
    display: block;
    content: '';
    width: 20em;
    height: 3px;
    margin: 0.5em auto 3em auto;
    background: var(--color-services-title);
    border-radius: 0.3em;
}

section.team-section .team-description {
    text-align: center;
    padding: 0 5em 3em 5em;
}

section.team-section .team {
    display: grid;
    padding: 0 0 1em 0;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    justify-items: center;
    align-items: start;
}

section.team-section a,
section.team-section span,
section.team-section img {
    display: block;
    pointer-events: none;
}

section.team-section .team li {
    display: block;
    grid-column: span 1;
    text-align: center;
    animation: slideIn 0.3s ease-in;
    animation-fill-mode: both;
}

section.team-section li a span {
    width: 15em;
    margin: 0 auto;
    display: block;
    border-radius: 0.3em;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}

section.team-section li a span:before {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 0.3em;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5) inset;
    z-index: 10;
}

section.team-section li a span:after {
    display: block;
    content: '';
    padding-top: 100%;
}

section.team-section .team li:nth-child(1) { animation-delay: 0.2s }
section.team-section .team li:nth-child(2) { animation-delay: 0.4s }
section.team-section .team li:nth-child(3) { animation-delay: 0.6s }
section.team-section .team li:nth-child(4) { animation-delay: 0.8s }
section.team-section .team li:nth-child(5) { animation-delay: 1.0s }
section.team-section .team li:nth-child(6) { animation-delay: 1.2s }
section.team-section .team li:nth-child(7) { animation-delay: 1.4s }
section.team-section .team li:nth-child(8) { animation-delay: 1.6s }
section.team-section .team li:nth-child(9) { animation-delay: 1.8s }

section.team-section img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

section.team-section .doc-name {
    padding-top: 1em;
    color: var(--color-link-default);
}

section.team-section .doc-description {
    padding-top: 0.5em;
}

section.team-section .details i {
    padding-right: 0.2em;
    color: var(--color-link-default);
}