@media (min-width: 1024px) {
    .site-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }
}

.site-header {
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0.418) 0%, rgba(238, 238, 238, 0.795)), url('../images/hospital.jpg') center no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 1em 3em 1em;
    justify-content: center;
    flex-wrap: wrap;
}

/* site logo */
.site-header .site-logo {
    flex: 0 0 8%;
    display: block;
    overflow: hidden;
    position: relative;
}

.site-header .site-logo:after {
    display: block;
    content: '';
    padding-top: 100%;
}

.site-header .site-logo img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.site-header .site-title {
    margin-top: 0.2em;
    font-family: var(--font-family-libre);
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 50%;
    text-align: center;
}

.info-section .info {
    color: var(--color-body-text);
    font-weight: normal;
    padding: 1em 0 1em 0;
}

.info-section a {
    font-size: var(--font-size-body);
    border: 2px solid transparent;
    background: #404040;
    color: var(--color-body-background) ;
    font-weight: 100;
    padding: 0.6em 1em;
    text-transform: uppercase;
    border-radius: 0.3em;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.info-section a:hover {
    color: #404040;
    font-weight: bold;
    background: transparent;
    letter-spacing: 3px;
    border: 2px solid #404040;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.header-image-container {
    flex: 0 0 100%;
}